# Virtual environment
venv/
.venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
.Python
build/
dist/

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment variables
.env

# Logs
*.log
streamlit.log
